{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<main>
    <div class="bg-image">
    <div class="socials">
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
       </ul>
      </div>
        <div class="bg-text">
          <h1>EXPLORERS</h1>
        <h3>Welcomes You...</h3>
        <h4>To Unravel India's Best Kept Secret</h4>
        </div>
        </div>
        <div class="sec"><h2>Places to Visit...</h1></div>
<div class="sec-boxes" role="section">
<sec1 class="box">

<h1>Most Famous</h1>
<button class="button" type="button" role="button" value="MORE">More</button>
</sec1>
<sec1 class="box">
<h1>Un-discovered Beauty</h1>
<button class="button" type="button" role="button" value="MORE">More</button>
</sec1>
<sec1 class="box">
<h1>Histooric</h1>
<button class="button" type="button" role="button" value="MORE">More</button>
</sec1>
<sec1 class="box">
<h1>Religious</h1>
<button class="button" type="button" role="button" value="MORE">More</button>
</sec1>
</div>
<div class="blogs">
<h1>Blogs and Articles...</h1>
</div>
<div class="review">
<h1>Customer Reviews and Ratings</h1>
</div>

{% endblock body %}